<header>
 <img src="images/CSSA.png" alt="" {{file.FrontMatter.title}}/>
 <nav>
    <ul>
        <li><a href="index.html" {%if file.frontMatter.title=="Home" %} class="active" {% endif %}>Home</a></li>
        <li><a href="rules.html" {%if file.frontMatter.title=="Rules" %} class="active" {% endif %}>Rules</a></li>
        <li><a href="winners.html" {%if file.frontMatter.title=="Winners" %} class="active" {% endif %}>Winners</a></li>
        <li class="right"><a href="calendar.html" {%if file.frontMatter.title=="Calendar" %} class="active"  {% endif %}>Calendar</a></li>
    </ul>
 </nav>
</header>