<header>
 <img src="" alt="" {{file.FrontMatter.title}}/>
 <nav>
    <ul>
        <li><a href="index.html" {%if file.frontMatter.title=="Home" %} class="active" {% endif %}>Home</a></li>
        <li><a href="index.html" {%if file.frontMatter.title=="Rules" %} class="active" {% endif %}>Rules</a></li>
        <li><a href="index.html" {%if file.frontMatter.title=="Past Winners" %} class="active" {% endif %}>Past Winners</a></li>
        <li><a href="index.html" {%if file.frontMatter.title=="Calendar" %} class="active" {% endif %}>Calendar</a></li>
    </ul>
 </nav>
</header>