<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{file.frontMatter.title}}</title>
  <link href="styles/styles.css" rel="stylesheet" />
</head>

<body>
  <div id="container">

    
      <div id="header">
        {% include "source/pages/templates/header.html" %}
      </div>
      <div id="body">
        {% block main %}Default content{% endblock %}
      </div>
    

    <div id="footer">
      {% include "source/pages/templates/footer.html" %}
    </div>

  </div>
</body>

</html>