@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$OldBrick : rgba(150, 40, 27, 1);
$Roboto:'Roboto', sans-serif;

* 
{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 100vh;
}
//STYLES TO KEEP FOOTER AT BOTTOM OF PAGE//
#container {
    position: relative;
    min-height: 100vh;
    margin: auto;
    width: 960px;
    background-color: white;
    font-family: $Roboto;
}
#header 
{
    width: 960px;
    //background-color: #333;
}
#body{
    margin-bottom: 2.5em;
    padding: 0 20px;
    padding-bottom: 40px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5em;
    background-color: black;
    color: white;
    text-align: center;
}
//NAVIGATION STYLES
nav
{
    ul 
    {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        overflow: hidden;
        background-color: #333;
        border-left: 5px solid $OldBrick;
        border-right: 5px solid $OldBrick;
        li
        {
            float: left;
            a
            {
                color: white;
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            a:hover:not(.active)
            {
                background-color: #111;
            }
            .active
            {
                background-color: $OldBrick;
            }
        }
        .right
        {
            float: right;
            border: none;
            color: white;
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            margin: 4px 2px;
            background-color: #333;
            font-weight: bold;
            font-family: $Roboto;
            cursor: pointer;
            .right:hovernot(.active)
            {
                background-color: #111;
            }
            .active
            {
                background-color: $OldBrick;
            }
        }
        .right:focus
        {
            outline: none;
            background-color: $OldBrick;
        }
    }
}

//Lightbox styles
.imgRow > .imgCol
{
    padding: 10px 8px 0 0;
}

.imgRow:after 
{
    content: "";
    display: table;
    clear: both;
}

//Create four equal clumns thats floats next to each other
.imgCol
{
    float: left;
    width: 16.66%;
}

//The modal(backgournd)
.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 25% /*100%*/;
    height: 100%;
    overflow: auto;
    background-color: $OldBrick;
}

//Modal Content
.modal-content
{
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 100%;
}

//The close button
.close 
{
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus 
{
    color: red;
    text-decoration: none;
    cursor: pointer;
}

//Hide slides by default
.imgSlides{
    display: none;
}

.cursor 
{
    cursor: pointer;
}

//Next and prev buttons
.prev, .next
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50x;
    color:gray;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

//Position the next "next button" to the right
.next
{
    right: 0px;
    border-radius: 3px 0 0 3px;
}
//On hover add backgroued shadow
.prev:hover, .next:hover
{
    background-color: rgba(0, 0, 0, 0.8);
}
//Number text (1/6 etc)
.numbertext
{
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

//Caption text
.caption-container
{
    text-align: center;
    background-color: white;
    padding: 2px 16px;
    color: black;
}

.demo
{
    opacity: 0.5;
    width: 90%;
    height: 100%;
    margin-top: 10px;
}

.active, .demo:hover
{
    opacity: 1;
}

img 
{
    margin-bottom: 10px ;
}

img.hover-shadow
{
    transition: 0.3s;
}

.hover-shadow:hover
{
    box-shadow: 0 4px 8px 0, 0 6px 20px 0 rgba(0, 0, 0, 1);
}

article > a 
{
    padding-right: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: $OldBrick;
    font-weight: bold;
    border-right: 3px solid $OldBrick;
}
article > a:nth-of-type(3)
{
    border-right: 0;
}
p
{
    a
    {
        padding-right: 10px;
        text-decoration: none;
        text-transform: uppercase;
        background-color: $OldBrick;
        color: white;
        font-weight: bold;
        text-align: center;
    }
}
article > img 
{ padding-right: 16%; 
  float: right;
  margin: 0;
}
img + h3 
{
    clear: left;
    padding-top: 10px;
}
h3 + ul {clear: both;}
#winImg
{
    float: right;
    width: 100%;
    img{
    padding-top: 50px;
    align-content: center;
    width: 32%;
    }
}
.calmodal
{
    display: none;
    position: absolute;
    padding: 100px 20px 0 20px;
    top: 0;
    height: 100%;
    overflow: auto;
    background-color:$OldBrick;
    color: white;
    left: 100%;
    width: 50%;
    h5+p+p {border-bottom: 3px solid white;}
    h1 + a 
    {
        color: white;
        font-weight: bold;
    }
}

